<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://172.30.10.117:9000/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://172.30.10.117:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>ProdTrackingWebsite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>VJVMTMS\Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProdTracking.Website.Models.ApplicationDbContext, ProdTracking.Website" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CSI.VJ.CMMS" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="user id=cmms;password=cmms;data source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.30.10.21)(PORT = 1521))) (CONNECT_DATA = (SID = VJCMMS)(SERVER = DEDICATED))); pooling=true;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CSI.VJ.CMMS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="user id=cmms;password=cmms;data source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.30.10.21)(PORT = 1521))) (CONNECT_DATA = (SID = VJCMMS)(SERVER = DEDICATED))); pooling=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SEPHIROTH" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="user id=SEPHIROTH;password=SEPHIROTH;data source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 211.54.128.21)(PORT = 1521))) (CONNECT_DATA = (SID = VJEDB)(SERVER = DEDICATED))); pooling=true;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SEPHIROTH_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="user id=SEPHIROTH;password=SEPHIROTH;data source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 211.54.128.21)(PORT = 1521))) (CONNECT_DATA = (SID = VJEDB)(SERVER = DEDICATED))); pooling=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HUBICVJ" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="user id=HUBICVJ;password=HUBICVJ;data source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 211.54.128.21)(PORT = 1521))) (CONNECT_DATA = (SID = HUBICVJ)(SERVER = DEDICATED))); pooling=true;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HUBICVJ_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="user id=HUBICVJ;password=HUBICVJ;data source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 211.54.128.21)(PORT = 1521))) (CONNECT_DATA = (SID = HUBICVJ)(SERVER = DEDICATED))); pooling=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LMES" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="user id=LMES;password=LMES;data source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 211.54.128.21)(PORT = 1521))) (CONNECT_DATA = (SID = LMES)(SERVER = DEDICATED))); pooling=true;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LMES_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="user id=LMES;password=LMES;data source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 211.54.128.21)(PORT = 1521))) (CONNECT_DATA = (SID = LMES)(SERVER = DEDICATED))); pooling=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CSI.VJ.CMMS-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HUBICVJ-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LMES-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SEPHIROTH-Web.config Connection String" />
  </ItemGroup>
</Project>