body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.head {
    background-color: dodgerblue;
    color: white;

    text-align: center;
}


td.Y {
    background: yellow;
    color: black;
    padding: 0;
}

td.G {
    background: #008000;
    padding: 0;
    color: white;
}

td.R {
    background: #ff0000;
    color: #FFF;
    padding: 0;
}

td.TY {
    /*background:white;*/
    color: gold;
    padding: 0;
    font-weight: bold;
}

td.TG {
    
    color: #008000;
    padding: 0;
    font-weight: bold;
}

td.TR {
    /*background:white;*/
    color: #ff0000;
    padding: 0;
    font-weight: bold;
}

tr.TOTAL {
    font-weight: bold;
    background: #68dcbc;
    color: black;
    padding: 0;
}



tr.reason {
    font-weight: bold;
    background: #16a085;
    color: black;
    padding: 0;
}

td.reason {
    border: 5px solid #ff0000;
    font-weight: bolder;
    font-style: italic;
    background: #f1f1f1;
    color: black;
    padding: 0;
}
@keyframes green {
  0%   {background-color:#008000; color:white;}
  25%  {background-color:#50fb50; color:black;}
  50%  {background-color:#03ff2e; color:black;}
  75%  {background-color:#1e9019; color:white;}
  100% {background-color:green; color:white;}
}

@keyframes red_yellow {
    /*from {background-color: yellow;color:black;}
  to {background-color: gray;color:white;}*/
  0%   {background-color: yellow;color:black;}
  25%  {background-color: gray;color:white;}
  50%  {background-color: yellow;color:black;}
  75%  {background-color: gray;color:white;}
  100% {background-color: yellow;color:black;}
}

.content {
    width: 180px;
    font-size: 14px;
    /*line-height: 20px;*/
    font-family: 'Muli';
    color: #ecf0f1;
    height: 25px;
    position: absolute;
    top: 50%;
    /*left: 251px;*/
    right: 0px;
    margin-top: -15px;
    /*margin-left: -118px;*/
}

    .content:before {
        content: '[';
        position: absolute;
        left: -20px;
        line-height: 40px;
        margin-top: -9px;
    }

    .content:after {
        content: ']';
        position: absolute;
        right: 0px;
        line-height: 40px;
        margin-top: 0px;
        margin-top: -9px;
    }

    .content:after,
    .content:before {
        color: #16a085;
        font-size: 30px;
        animation: 2s linear 0s normal none infinite opacity;
        -webkit-animation: 2s ease-out 0s normal none infinite opacity;
        -moz-animation: 2s ease-out 0s normal none infinite opacity;
        -o-animation: 2s ease-out 0s normal none infinite opacity;
    }

.visible {
    float: left;
    font-weight: 300;
    overflow: hidden;
    height: 40px;
}

p {
    display: inline;
    float: left;
    margin: 0;
}

ul {
    margin-top: 0;
    padding-left: 80px;
    text-align: center;
    list-style: none;
    animation: 6s linear 0s normal none infinite change;
    -webkit-animation: 6s linear 0s normal none infinite change;
    -moz-animation: 6s linear 0s normal none infinite change;
    -o-animation: 6s linear 0s normal none infinite change;
}

    ul li {
        line-height: 40px;
        margin: 0;
    }

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes change {
    0% {
        margin-top: 0;
    }

    15% {
        margin-top: 0;
    }

    25% {
        margin-top: -40px;
    }

    40% {
        margin-top: -40px;
    }

    50% {
        margin-top: -80px;
    }

    65% {
        margin-top: -80px;
    }

    75% {
        margin-top: -40px;
    }

    85% {
        margin-top: -40px;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes change {
    0% {
        margin-top: 0;
    }

    15% {
        margin-top: 0;
    }

    25% {
        margin-top: -40px;
    }

    40% {
        margin-top: -40px;
    }

    50% {
        margin-top: -80px;
    }

    65% {
        margin-top: -80px;
    }

    75% {
        margin-top: -40px;
    }

    85% {
        margin-top: -40px;
    }

    100% {
        margin-top: 0;
    }
}
